 table {
     width: 80%;
     margin: auto;
     border-collapse: collapse;
 }

 th {
     text-align: start;
 }

 thead {
     font-size: 20px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 tr {
     font-size: 18px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     color: black;
     height: 60px;
     border-bottom: 2px solid grey;
 }

 tr:hover {
     background-color: rgb(199, 190, 190);
 }


 .main {
     width: 100%;
     height: 80px;
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .inviteBtn {
     width: 160px;
     height: 50px;
     background-color: skyblue;
     border: none;
     font-size: 16px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     border-radius: 5px;
     box-shadow: 0px 0px 2px black;
 }

 .inviteBtn:hover {
     box-shadow: 0px 0px 6px black;
 }

 /* inpSearch */
 .search {
     width: 250px;
     height: 35px;
     padding: 5px;
     border-radius: 5px;
     border: 1px solid black;
     font-size: 16px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .search:hover {
     box-shadow: 0px 0px 5px black;
 }



 /* dialogAdd */
 .dialogAdd {
     width: 360px;
     height: 280px;
     border: none;
     box-shadow: 0px 0px 7px black;
     border-radius: 8px;
     background: rgb(218, 215, 215);
 }

 /* AddEmail */
 .AddEmail {
     width: 350px;
     height: 30px;
     border-radius: 5px;
     margin-bottom: 20px;
 }

 /* AddRole */
 .AddRole {
     width: 350px;
     height: 30px;
     border-radius: 5px;
     margin-bottom: 20px;
 }

 /* btnAdd */
 .btnAdd {
     width: 100px;
     height: 40px;
     border-radius: 5px;
     border: none;
     box-shadow: 0px 0px 3px black;
     font-size: 16px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }

 .btnAdd:hover {
     box-shadow: 0px 0px 5px black;
 }

 .sta {
     width: 120px;
     height: 35px;
     border: none;
     border-radius: 5px;
     color: white;
     font-size: 16px;
     box-shadow: 0px 0px 2px black;
 }